/*body {
	
	background-color: CC99FF;
}

#header {
	color: red;
	text-align:center;
}

.tulisan2 {
	color:lime;
}*/

#header {
	background-color:black;
	text-align:center;
	color:white;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-right: 4%;
	padding-left:4%;
}

ul {
	list-style-type:none;
	padding:0;
	margin:0;
	overflow:hidden;
	background-color:#484848;
}

li {
	float:left;
}

li a {
	display:block;
	color: white;
	text-align:center;
	padding:12px;
	text-decoration:none;
}

/* ubah warna ketika disorot dari hitam ke abu-abu*/
li a:hover {
	background-color: black;
}

.tulisan2 {
	background-color:white;
	text-align:center;
	padding: 2%;
	margin: 0;
}

/* ini utk resep.html*/
.imgrsp {
	float:left;
	margin: 29px 20px;
	border-radius: 4%;
}

.resep {
	float:left;
	width:70%;
	padding:1%;
	text-align:left;
}

#kanan {
	float:right;
	width:20%;
	padding:2%;
	height:auto;
	text-align:left;
}

form {
	text-align:left;
	margin:0 0 0 40%;
}

input {
	margin:0 0 0 0;
}


#footer {
	background-color:black;
	text-align:center;
	color:white;
	padding: 2%;
	clear: both;



#twitter {
	background-color:black;
	padding-left: 80%;
	padding-top:-80%;
}

#facebook {
	background-color:black;
}
